@import './lib/variables.css';

.banner {
  height: 265px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#aboutNav{
  font-size: 18px;
  padding: 20px 0;
  @media (min-width: 768px){
    padding:25px 0 0 0;
    border-bottom:1px solid #f2f2f2;
  }
  overflow:hidden;
  max-width: 1200px;
  margin: 0 auto;
  .swiper-slide {
    position: relative;
    padding: 0px 20px;
    @media (min-width: 768px){
      font-size: 22px;
      padding: 10px 35px;
    }
    width: auto;
    color: $info;
    transform: all .3s;
    cursor: pointer;
    &.active{
      color: $dark;
      &:after{
        position: absolute;
        left: 50%;
        bottom: 0px;
        content: '';
        width: 57%;
        height: 1px;
        transform: translateX(-50%);
        background-color: $secondary;
      }
    }
    &:hover{
      color: $dark;
      &:after{
        position: absolute;
        left: 50%;
        bottom: 0px;
        content: '';
        width: 57%;
        height: 1px;
        transform: translateX(-50%);
        background-color: $secondary;
      }
    }
  }
  .swiper-wrapper{
    @media (min-width: 768px){
      justify-content: center;
    }
  }
}
.article-biaoti{
  margin: 22px 0;
  font-size: 18px;
  @media (min-width: 768px){
    font-size: 24px;
    margin: 30px 0;
  }
}
h2.article-biaoti{
  font-size: 15px;
  @media (min-width: 768px){
    font-size: 22px;
  }
}
.article-p{
  margin: 22px 0;
  line-height: 1.5;
  font-size: 13px;
  @media (min-width: 768px){
    font-size: 16px;
    margin: 30px 0;
  }
}
h3.article-p{
  font-size: 15px;
  @media (min-width: 768px){
    font-size: 20px;
  }
}
.acot{
  margin-bottom: 10px;
  @media (min-width: 768px){
    margin-bottom: 0;
  }
}
/**
 *
 * 加入我们
 *
 */
.join-title{
  padding: 35px 0 ;
  font-size: 24px;
}
.join-job{
  border-top: 1px solid #e1e1e1;
}
.mailto{
  color: #0076ec;
}
.j-item{
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
  @media (min-width: 768px){
    font-size: 22px;
  }
  .j-item-hd{
    position: relative;
    padding: 2em 4em;
    h4{
      font-size: inherit;
    }
    .j-ps{
      font-size: 0.73em;
    }
    .j-l-img{
      position: absolute;
      top: 50%;
      left: 8px;
      width: 2.18em;
      transform: translateY(-50%);
    }
    .icon{
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      font-size: 1.2em;
      color: #939393;
    }
    
  }
  .j-l-ct{
    display: none;
    line-height: 2;
    padding: 0 8px 2em 8px;
    h5{
      font-size: 0.73em;
      margin: 1em 0;
    }
    p{
      font-size: 0.64em;
    }
  }
  &.active{
    .icon{
      transform: translateY(-50%) rotate(45deg);
    }
    .j-l-ct{
      display: block;
    }
  }
}
/*=============================================
=            奖项            =
=============================================*/
.award-title{
  font-size: 18px;
  padding: 3.25em 0;
  @media (min-width: 768px){
    font-size: 24px;
  }
}
.award-col{
  font-size: 12px;
  padding: 1.75em 0;
  @media (min-width: 768px){
    font-size: 16px;
  }
}
.award-tab{
  .award-col{
    font-size: 14px;
    padding: 0 0 1.75em 0;
    color: $info;
    @media (min-width: 768px){
      font-size: 18px;
    }
  }
}
.award-row{
  margin: 0;
  border-bottom: 1px solid #e1e1e1;
}
.pb30{
  padding-bottom: 30px;
}
.award-table{
  padding-bottom: 40px;
  @media (min-width: 768px){
    padding-bottom: 170px;
  }
}
/*=====  End of 奖项  ======*/

/*=============================================
=            服务            =
=============================================*/
.module-hd{
  position: relative;
  margin: 1.71em 0 0.253em 0;
  padding-left: 1.51em;
  font-size: 79px;
  .mh-title{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #D6000F;
    line-height: 1;
  }
  .mh-description{
    width: auto;
    h2{
      font-size: 0.456em;
    }
    p{
      margin-top: 0.5em;
      font-size: 0.2278em;
      color: $info;
    }
  }
}
.service-content-list{
  .sc-item{
    padding: 18px;
    border-bottom: 1px solid #e1e1e1;
  }
  .left-ct{
    width: 290px;
    height: 290px;
    text-align: center;
    color: #323232;
    font-size: 30px;
    .ca{
      margin: 0 auto;
      margin-top: 50px;
      width: 126px;
      height: 126px;
      border-radius: 999px;
      border: 5px solid #323232;
    }
    .cb{
      margin-top: 30px;
    }
  }
  .right-ct{
    margin-left: 315px;
    .ca{
      font-size:26px;
      margin: 2.7em 0 0.769em 0;
    }
    .cb{
      font-size: 16px;
      color: $info;
      height: 116px;
      overflow: hidden;
      line-height: 1.87;
    }
    .more-btn{
      display: inline-block;
      font-size:14px;
      line-height: 1;
      color: $info;
      padding: 10px 22px;
      text-align: center;
      background-color: #f2f2f2;
      border-radius: 4px;
      transition: all .3s;
      border: 1px solid #f2f2f2;
      &:hover{
        border-color: $secondary;
        color: $secondary;
        background-color: transparent;
      }
    }
  }
}
.service-process{
  margin: 40px 0 100px 0;
  background-color: #f2f2f2;
  padding: 10px 20px;
  .sp-item{
    width: 280px;
    padding: 20px 0 10px 40px;
  }
}

/*=====  End of 服务  ======*/

