
@import './lib/variables.css';
.mobile-head{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: #fff;
  animation-duration: .35s !important;
  .m-title{
    padding: 9px 15px;
    line-height: 40px;
  }
  .m-logo{
    max-height: 40px;
    width: 50%;
    max-width: 344px;
  }
  .m-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 15px;
  }
  .m-nav{
    margin: 12px 0;
    li{
      padding: 12px 17px;
      font-size: 15px;
      a{
        color: #323232;
      }
      &:active{
        background-color: #f2f2f2
      }
    }
  }
  .m-seach{
    position: relative;
    margin: 12px 17px;
    padding: 12px 60px 12px 10px;
    background-color: #f2f2f2;
    line-height: 18px;
  }
  .m-input{
    width: 100%;
    background-color: transparent;
    border:none;
    outline: none;
    color: #929292;
  }
  .m-s-btn{
    position: absolute;
    top: 5px;
    right: 0;
    bottom: 5px;
    width: 57px;
    border-left: 1px solid #929292;
    text-align: center;
    line-height: 27px;
    color: #929292;
  }
}