<!-- 底部 -->
<div class="nav-foot">
  <div class="container tsd">
    <div class="row ">
      <div class="col-xs-6 col-sm-4 tl">
        <!-- 备案1 -->
        <a href="" target="_blank">
          <img class="dqs" src="./images/d-q-1.png" alt="" srcset="">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 tc">
        <!-- 备案2 -->
        <a href="" target="_blank">
          <img class="dqs" src="./images/d-q-1.png" alt="" srcset="">
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 ts">
        <!-- 备案3 -->
        <a href="" target="_blank">
          <img class="dqs" src="./images/d-q-1.png" alt="" srcset="">
        </a>
      </div>
    </div>
  </div>
  <div class="foot-bg">
    <div class="container">
      <div class="r tr">
          <ul class="foot-lian f0">
            <li>
              <a href="" target="_blank">企业邮箱</a>
            </li>
            <li>
              <a href="" target="_blank">开票信息</a>
            </li>
            <li>
              <a href="" target="_blank">站长统计</a>
            </li>
          </ul>
          <p class="f12 text-white mt5">贵州茅台酒股份有限公司 ©  2017  黔ICP备10001658号 </p>
        </div>
    </div>
    
  </div>
</div>