<div class="float-nav">
  <div  class="f-kefu-c poi text-white rel">
    <span data-kefu="show" class="icon iconfont db">&#xe763;</span>
    <span data-kefu="show" class="db">在线咨询</span>
    <div class="f-k-detail dn">
      <div class="f-title" data-kefu="close">
          <span class="icon f1 iconfont dib vm" >&#xe763;</span>
          <span class="dib f2 vm f14">在线咨询</span>
          <span class="icon f3 iconfont r vm">&#xe967;</span>
      </div>
      <div class="f-qq">
        <a class="db" target="_blank" href="javascript:">
          <span class="icon iconfont" >&#xf216;</span>
          16991280
        </a>
        <a class="db" target="_blank" href="javascript:">
          <span class="icon iconfont" >&#xf216;</span>
          179414634
        </a>
      </div>
      <div class="f-lianxi bg-white">
        <div class="f-l-title">
          <span class="icon iconfont" >&#xe639;</span>
          联系电话
        </div>
        <a class="db" href="tel:073156178889">0731-56178889</a>
        <a class="db" href="tel:13903716346">13903716346</a>
      </div>
      <div class="p15">
        <img class="db pct100" src="./images/qrcode.png" alt="" srcset="">
      </div>
    </div>
  </div>
  <div id="toTop" class="f-top-c poi dn text-white">
    <span class="icon iconfont db">&#xe6b6;</span>
  </div>
</div>