<!-- 底部 -->
<footer class="nav-foot auto-foot">
  <div class="container">
    <div class="f-title text-info f13 visible-xs-block">
      关注我们
    </div>
    <div class="attention">
      <a class="attention-icon dib" style="background-image: url('./images/xinlang.png')" href="javascript:"></a>
      <a class="attention-icon dib" style="background-image: url('./images/xinlang.png')"  href="javascript:"></a>
      <a class="attention-icon dib" style="background-image: url('./images/xinlang.png')"  href="javascript:"></a>
    </div>
    <div class="c-l-c">
      <div class="c-link lhp1 f0">
          <a class="dib c-link-a text-info" href="javascript:">合作咨询</a>
          <a class="dib c-link-a text-info" href="javascript:">合作咨询</a>
          <a class="dib c-link-a text-info" href="javascript:">合作咨询</a>
          <a class="dib c-link-a text-info" href="javascript:">合作咨询</a>
          <a class="dib c-link-a text-info" href="javascript:">合作咨询</a>
        </div>
        <div class="copyright">
          <a class="db" href="javascript:">Copyright @ 2018 九和包装公司 版权所有. 豫ICP备11002387号</a>
        </div>
    </div>
  </div>
</footer>