<!-- 底部 -->
<div class="nav-foot">
  <div class="foot-bg">
    <div class="container">
      <div class="r tr">
          <ul class="foot-lian f0">
            <li>
              <a href="" target="_blank">企业邮箱</a>
            </li>
            <li>
              <a href="" target="_blank">开票信息</a>
            </li>
            <li>
              <a href="" target="_blank">站长统计</a>
            </li>
          </ul>
          <p class="f12 text-white mt5">贵州茅台酒股份有限公司 ©  2017  黔ICP备10001658号 </p>
        </div>
    </div>
    
  </div>
</div>