<!-- Fixed navbar -->
<!-- <nav class="navbar navbar-inverse navbar-fixed-top Light">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="img-responsive" src="./images/logo.png" alt="" srcset="">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">首页</a></li>
        <li><a href="#">关于</a></li>
        <li><a href="#">案例</a></li>
        <li><a href="#">资讯</a></li>
        <li><a href="#">联系</a></li>
        <li><a href="#">EN</a></li>
        <li><a href="#">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
      </ul>
    </div>
  </div>
</nav> -->
<!-- index-nav -->
<div class="c-nav">
  <div class="container">
    <a class="c-logo vm " href="">
      <img class="dib pct100" src="./images/logo.png" alt="" srcset="">
    </a>
    <div class="c-back">
      <img src="./images/back.png" alt="" srcset="">
    </div>
    <h1 class="c-title f18 tc text-dark ell"></h1>
    <div class="c-more">
      <img src="./images/more.png" alt="" srcset="">
    </div>
  </div>
</div>
<div class="mobile-head dn ">
  <div class="m-title">
    <a class="dib m-logo vm " href="">
      <img class="db pct100" src="./images/logo.png" alt="" srcset="">
    </a>
    <div class="m-close">
      <span class="glyphicon glyphicon-remove f18" aria-hidden="true"></span>
    </div>
  </div>
  <ul class="m-nav">
    <li><a class="db ell" href="javascript:">首页</a></li>
    <li><a class="db ell" href="javascript:">关于</a></li>
    <li><a class="db ell" href="javascript:">案例</a></li>
    <li><a class="db ell" href="javascript:">资讯</a></li>
    <li><a class="db ell" href="javascript:">联系</a></li>
    <li><a class="db ell" href="javascript:">EN</a></li>
  </ul>
  <div class="m-seach">
    <input class="m-input" type="text" placeholder="请输入搜索内容">
    <div class="m-s-btn">
      <span class="glyphicon glyphicon-search f18 vm" aria-hidden="true"></span>
    </div>
  </div>
</div>